.input{
  position: absolute;
  border: solid 2px;
  font-weight: bold;
  left: 32rem;
  top: 1rem;

}

.todonum {
  position: absolute;
  left: 35rem;
  top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.positioning{
  position: absolute;
  left: 20rem;
  top: 8rem;
  width:38rem;
  border:5px;
  text-align: center;
}

.big{
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  left: 35rem;
  top:0.5rem;
}

.big:hover{
  color:#ed3f1c;
}

.change {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  left: 33rem;
  top:0.5rem;
}

.change:hover{
  color:yellow;
}
